:root {
    --colorTextos: #895af7;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Exterior y centralización del formulario */
body {
    background: #1A2980;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26D0CE, #1A2980);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Título del formulario */
h1 {
    text-align: center;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 700;
    color: black;

}

/* Formulario */
form {
    background: white;
    padding: 30px 0px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    /*color: rgb(190, 0, 0);*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form .lost {
    color: black;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form .lost a {
    color: var(--colorTextos);
    margin-left: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form {
    width: 100%;
    margin: auto;
}

form .grupo {
    position: relative;
    margin: 40px;
}

input {
    background: none;
    color: #c6c6c6;
    font-size: 16px;
    padding: 10px 10px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
    display: inline-block;
}

/* Escritura dentro del formulario */
input:focus {
    outline: none;
    color: #5e5d5d;
}

label {
    color: var(--colorTextos);
    font-size: 18px;
    position: absolute;
    bottom: 0;
    left: -10px;
    top: -15px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

i {
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: -10px;
    top: 10px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

input:focus~label,
input:valid~label {
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #26D0CE, #1A2980);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before {
    width: 100%;
}

.wmessage {
    color: red;
}

.smessage {
    color: green;
}

/*button {
    background: #1A2980;
    /* fallback for old browsers */
/*    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
    /* Chrome 10-25, Safari 5.1-6 */
/*    background: linear-gradient(to right, #26D0CE, #1A2980);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*    border-radius: 5px;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: white;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
*/
/*---------------------------------------------------------------------*/

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}
.btn-field button {
    border: 0;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
    flex-basis: 42%;
    display: block;
    width: 80%;
    margin: 10px auto;
    height: 35px;
}

/*button span {
    background-color: #111;
    padding: 3px 24px;
    border-radius: 6px;
    transition: .3s;
}

button:hover span {
    background: none;
}*/
button:active {
    transform: scale(0.9);
}

.btn-field button.b_signup {
    background: #1A2980;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26D0CE, #1A2980);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.btn-field button.b_signin {
    background: var(--colorTextos);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cd98ff, var(--colorTextos));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cd98ff, var(--colorTextos));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}



span {
    background: none;
}



@media screen and (max-width:500px) {
    form {
        width: 80%;
    }
}
